<div class="modalContainer">
  <div (@modalAnimation.done)="animationDone($event)" [@modalAnimation]="{value:animationModal}"
    [ngClass]="{'modalConainerFullScreen': modalOptions.size==='fullScreen', 'modalConainerSm': modalOptions.size==='sm',
      'modalConainerMd': modalOptions.size==='md', 'modalConainerLg': modalOptions.size==='lg', 'modalConainerXl': modalOptions.size==='xl',
      'modalScrolable': modalOptions.scrollable && modalOptions.size!='fullScreen', 'modalContainerCenter':modalOptions.position==='center' && modalOptions.size!='fullScreen',
      'modalCScrollable': modalOptions.scrollable && modalOptions.size!='fullScreen'}">

    <div class="modalContent"
      [ngClass]="modalOptions.size === 'fullScreen'? 'modalFullScreen':modalStyles.roundedSize + ' '+modalStyles.backgroundColor+ ' '+modalStyles.shadowSize+ ' '+ modalStyles.anyStyle">
      <ng-content></ng-content>
    </div>
  </div>
</div>