<div class="fixed inset-0 z-[1050] bg-black bg-opacity-50">
</div>

<div class="modalContainer z-[1060]">
  <div (@modalAniamtion.done)="animationDone($event)" [@modalAniamtion]="animationModal" [ngClass]="{'modalConainerFullScreen': modalOptions.size==='fullScreen', 'modalConainerSm': modalOptions.size==='sm',
      'modalConainerMd': modalOptions.size==='md', 'modalConainerLg': modalOptions.size==='lg', 'modalConainerXl': modalOptions.size==='xl',
      'modalScrolable': modalOptions.scrollable && modalOptions.size!='fullScreen', 'modalContainerCenter':modalOptions.position==='center' && modalOptions.size!='fullScreen',
      'modalCScrollable': modalOptions.scrollable && modalOptions.size!='fullScreen'}">

    <div class="modalContent" [ngClass]="{'rounded-lg': modalOptions.size!='fullScreen',
      'modalFullScreen': modalOptions.size==='fullScreen'}">
      <ng-content></ng-content>
    </div>
  </div>
</div>